.card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 48px;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
}

.avatarSection {
  position: relative;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 3px solid #FBE9BA;
  background: #FFF;
  padding: 12px;
}

.onlineStatus {
  position: absolute;
  top: 17px;
  right: 25px;
  width: 12px; 
  height: 12px; 
  background-color: #38CD3E;
  border-radius: 50%;
  border: 2px solid #fff; 
}

.infoSection {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: flex-start;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.languages,
.label {
  font-size: inherit;
  color: #8A8A89;
  font-weight: 500;
  line-height: 1.5;
}

.stats {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.star {
  color: #FFC531;
}

.money {
  color: #38CD3E;
}

.favoriteIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.infoText {
  font-weight: 500;
  line-height: 24px;
}

.readMore {
  padding: 0;
  display: inline-flex;
  width: 80px;
  justify-content: flex-start;
  font-weight: 500;
  line-height: 1.5;
  background: none;
  text-decoration-line: underline;
  margin-bottom: 32px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.readMore:hover,
.readMore:focus {
  color: var(--primary);
}

.levels {
  display: flex;
  gap: 8px;
}

.level {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.20);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; 
}

.experience {
  line-height: 1.5; 
  margin-bottom: 16px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.review {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.reviewerInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
}

.reviewerName {
  color: #8A8A89;
  font-weight: 500;
  line-height: 1.5; 
}

.reviewRating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingValue {
  color: #121417;
font-weight: 500;
line-height: 1.28; 
}

.bookLessonButton {
  margin-top: 32px;
  display: flex;
  width: 232px;
  padding: 16px 43px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--primary);
  transition: background-color 0.3s ease;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.55; 
}

.bookLessonButton:hover,
.bookLessonButton:focus {
  background-color: var(--secondary);
}


@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 16px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    padding: 9px;
  }

  .onlineStatus {
   display: none;
  }

  .name {
    font-size: 20px;
  }

  .statsContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .bookLessonButton {
    width: 100%; 
    padding: 14px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .card {
    display: flex;
    flex-direction: column; 
    padding: 12px;
    gap: 12px; 
    border-radius: 16px; 
  }

  .avatarSection {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 64px;
    height: 64px;
    padding: 6px;
  }

  .infoSection {
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }

  .name {
    font-size: 16px; 
  }

  .statsContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 8px; 
  }

  .stats {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    align-items: flex-start; 
    font-size: 14px; 
  }

  .stat {
    display: flex;
    align-items: center; 
    gap: 4px; 
  }

  .money {
    font-size: 14px;
  }

  .detailsContainer {
    gap: 6px; 
  }

  .infoText {
    font-size: 12px; 
    line-height: 1.2; 
  }

  .levels {
    flex-wrap: wrap; 
    gap: 6px; 
  }

  .level {
    font-size: 12px; 
    padding: 6px 8px; 
  }

  .bookLessonButton {
    width: 100%;
    padding: 10px;
    font-size: 12px; 
    margin-top: 16px; 
  }
}
