.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px 20px 128px;
    position: relative; 
}
  
.logo {
    display: flex;
    align-items: center;
}
  
.icon {
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #338AF3 50%, #FFDA44 50%);
    border-radius: 50%;
    margin-right: 8px;
}
  
.brandName {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -0.02em;
}
  
.navLinks {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 28px;
}

.navLink {
    line-height: 1.25;
    text-align: center; 
    color: #121417;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.navLink.active,
.navLink:hover {
    color: var(--primary);
}
  
.authButtons {
    display: flex;
    gap: 16px;
}
  
.loginButton,
.registerButton,
.logoutButton {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
    line-height: 1.25;
}

.registerButton {
    transition: background-color 0.3s ease;
}

.registerButton:hover {
    background-color: var(--primary);
}
  
.loginButton {
    background: none;
    color: inherit;
    gap: 8px;
    transition: color 0.3s ease;
}
  
.loginButton svg {
    color: var(--primary);
}
  
.registerButton {
    display: flex;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background-color: #121417;
}

.logoutButton {
    color: inherit;
    background: none;
    transition: color 0.3s ease;
}

.loginButton:hover,
.logoutButton:hover {
    color: var(--primary);
}

@media (max-width: 1100px) {
    .navbar {
        padding: 10px 20px; 
    }

    .navLinks {
        position: static; 
        transform: none;
        gap: 16px; 
    }

    .authButtons {
        gap: 8px; 
    }

    .registerButton {
        padding: 10px 20px; 
        font-size: 14px;
    }

    .loginButton {
        font-size: 14px;
    }

    .brandName {
        font-size: 18px; 
    }
}

@media (max-width: 768px) {
    .navbar {
        align-items: center;
        padding: 10px; 
    }

    .navLinks {
        align-items: center;
        gap: 8px;
        font-size: 12px;
    }

    .navbar.loggedIn {
        align-items: center;
      }
      
    .navbar.notLoggedIn {
        align-items: flex-start;
      }

    .authButtons {
        flex-direction: column; 
        gap: 4px;
    }

    .registerButton {
        width: 100%;
        padding: 10px; 
        font-size: 12px;
    }

    .loginButton {
        width: 100%;
        font-size: 12px;
    }

    .logoutButton {
        font-size: 14px;
        background-color: lightgray;
        border-radius: 6px;
    }

    .brandName {
        font-size: 12px; 
    }

    .icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }
}

@media (max-width: 480px) {
    .logoutButton {
        padding: 0 4px;
    }

    .navbar {
        padding: 15px 20px; 
    }
}